@model Response;

@if (!string.IsNullOrEmpty(Model.Hd))
{
    <div class="container" style="margin-top:30px">
        <div style="display:flex;align-items: center;">
            <i style="color:green; font-size:120px" class="fi fi-bs-check"></i>
            <h1>Hd Enviado com Sucesso</h1>
        </div>
        <div>
            <h3>Help Despk</h3>
            <h4 class="link-danger">
                @Model.Hd
            </h4>
        </div>
        <div>
            <h3>Assunto</h3>
            <h4 class="link-danger">
                @Model.Assunto
            </h4>
        </div>
    </div>
}
else
{
    <div style="display:flex;align-items: center;">
        <i style="color:red; font-size:120px" class="fi fi-ss-exclamation"></i>
        <h1>Ops!</h1>
    </div>
    <h3 class="link-danger">
        @Model.Erro
    </h3>

}
